
{% extends"base.html.twig" %}
{% block stylesheet%}
    <link rel="stylesheet" href="">
{% endblock%}

{% block contenu %}
{{ titre }}
    <h1>Mentions légales</h1>

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vulputate ultricies ligula quis bibendum. Donec condimentum mattis nulla, ut euismod ipsum sollicitudin vitae. Morbi dictum blandit sapien, vel semper leo dignissim sed. Suspendisse ultrices enim diam, vitae gravida sem tincidunt eleifend. Ut facilisis est malesuada luctus laoreet. Etiam et dui non augue egestas imperdiet ac quis mauris. Nam nec ante eget lorem ultricies malesuada. Donec et est metus. Quisque vel faucibus est, pretium fringilla purus. Aliquam at tincidunt dui.
{% endblock%}